* {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}
.container {
  flex: 1;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: rgba(27, 152, 88, 0.421);
  height: 100vh;
}
.container > p {
  font-size: 30px;
  color: rgb(172, 21, 16);
  font-weight: 600;
}
.tryagain {
  padding-top: 50vh;
  font-size: 30px;
  color: rgb(172, 21, 16);
  font-weight: 600;
}
